@using chnu.Models;
@model List<Subject>

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="~/css/libs.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <title>
        to university
    </title>
</head>
<body class="byDiscipline">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="values/index">Головна</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@Model.First().Name</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-12">
                <div class="retake-list">
                    
                    @foreach (Subject s in Model)
                    {
                    <div class="retake-item flex byDiscipline">
                        <div class="date">
                            <p>@Model.IndexOf(s)<span>@s.Student.Group.NameGroup</span></p>
                        </div>
                        <div class="name">
                            <p>@s.Student.Name</p> 
                        </div>
                        <div class="discipline-info">
                            <div class="discipline-teacher">
                                <p>@s.Lecture</p>
                            </div>
                            <div class="discipline-mark">
                                <p>@s.Score б</p>
                            </div>
                        </div>
                        <div class="order">
                            <button class="btn btn-success order-btn" data-modal="order-modal"></button>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="modal-container order-modal">
        <div class="overlay"></div>
        <div class="modal-content">
            <div class="close">
                <button class="close-btn"><i class="fas fa-times"></i></button>
            </div>
            <div class="modal-head">
                <p>Замовити бігунок</p>
            </div>
            <div class="modal-form">
                <form action="#">
                    <div class="input-group">
                        <input type="text" id="date" name="date" placeholder="Вкажіть дату" />
                        <label for="date"><i class="far fa-calendar-alt"></i></label>
                    </div>
                    <button class="confirm btn btn-success">Надіслати</button>
                </form>
            </div>
        </div>
    </div>
    <script src="~/js/libs.min.js"></script>
    <script src="~/js/common.js"></script>
</body>
</html>