@using chnu.Models;
@model Group

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="~/css/libs.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <title>
        @Model.NameGroup
    </title>
</head>
<body class="byGroup">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="values/index">Головна</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@Model.NameGroup</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-12">
                <div class="retake-list">

                    @foreach (Student student in Model.Students)
                    {
                        @foreach (Subject subj in student.Subjects)
                        {
                            <div class="retake-item flex byGroup">
                                <div class="date">
                                    <p>-</p><span></span>
                                </div>
                                <div class="student">
                                    <div class="student-id" style="visibility: hidden; height: 0px; width: 0px;">@student.Id</div>
                                    <div class="name">
                                        <p>@student.Name</p>
                                    </div>
                                    <div class="discipline">
                                        <p>@subj.Name</p>
                                    </div>
                                </div>
                                <div class="discipline-info">
                                    <div class="discipline-id" style="visibility: hidden; height: 0px; width: 0px;">@subj.Id</div>
                                    <div class="discipline-teacher">
                                        <p>@subj.Lecture</p>
                                    </div>
                                    <div class="discipline-mark">
                                        <p>@subj.Score</p>
                                    </div>
                                </div>
                                <div class="order">
                                    @if (subj.IsOreded)
                                    {
                                        <button class="btn btn-success order-btn ordered" data-modal="order-modal"></button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-success order-btn" data-modal="order-modal"></button>
                                    }
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="modal-container order-modal">
        <div class="overlay"></div>
        <div class="modal-content">
            <div class="close">
                <button class="close-btn"><i class="fas fa-times"></i></button>
            </div>
            <div class="modal-head">
                <p>Замовити бігунок</p>
            </div>
            <div class="modal-form">
                <form action="values/order" method="post">
                    <div class="input-group">
                        <input type="text" id="date" name="date" placeholder="Вкажіть дату" />
                        <label for="date"><i class="far fa-calendar-alt"></i></label>
                    </div>
                    <button class="confirm btn btn-success">Надіслати</button>
                </form>
            </div>
        </div>
    </div>
    <script src="~/js/libs.min.js"></script>
    <script src="~/js/common.js"></script>
</body>
</html>